<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> VaniCeci Marketplace </title>
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  
  </head>


  <body>
 
    <h1><%= title %></h1>
    <p>Welcome to <%= title %> for Eco-Friendly Clothing Brands</p>

    <div class="card-deck">
            <div class="card">
              <img src="/images/11809099-1-pink.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">People Tree handwoven check shirt</h5>
                <p>Soft cotton 'shirt fabric' Body: 100% Cotton.</p>
              </div>
            </div>
            <div class="card">
              <img src="/images/11667528-1-white.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Reclaimed Vintage inspired sun and moon faces print in white</h5>
                <p> Pure cotton. It's light and breathable Main: 100% Cotton.</p>
              </div>
            </div>
            <div class="card">
              <img src="/images/12405913-1-green.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"> Short sleeve tea blouse in broderie with collar detail </h5>
                <p>Broderie anglaise
                    Embroidered eyelet fabric
                    It's a cute all-rounder
                    
                    Main: 100% Cotton.</p>
              </div>
            </div>
          </div>
          <br>
          <div class="card-deck">
                <div class="card">
                  <img src="/images/10430857-1-black.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Satin cami</h5>   
                    <p>Satin-style fabric
                        Super-smooth, silky-silky feel
                        Main: 100% Polyester.</p>
                  </div>
                </div>
                <div class="card">
                  <img src="/images/12293391-1-yellow.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Off shoulder swing top in yellow</h5>
                    <p>Everyday T-shirt fabric
                        Basic in the best way
                        Main: 95% Viscose, 5% Elastane.</p>
                </div>
              </div>
